/* defaults */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

button {
    outline: none;


}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

/* defaults */

/* header */
.header {}

.header__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: green;
}

.logo img {
    width: 50px;
    height: 50px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul li:not(:last-child) {
    margin-right: 15px;
}

.nav__list li a {}

.nav__list li a:hover {
    text-decoration: underline;

}

/* header */


/* main */
.hero {
    margin-top: 35px;
}

.hero__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero__title {
    font-size: 45px;

}

.service {
    margin-top: 25px;
}

.service__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service__title {
    font-size: 25px;
    margin-bottom: 15px;
}

.service__steps li {
    margin-bottom: 25px;
    font-size: 25px;
    animation: step 1s ease 0s 1 normal forwards;

}

.service__steps li:hover .service__steps ul li span {
    background: #000;
    color: #fff;
}

.service__steps li span {
    border: 3px solid #000;
    padding: 5px;
    border-radius: 50%;
}

@keyframes step {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
}



/* locations */
.locations__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.locations__search {
    margin: 0 0 50px 0;

}

#search__field {
    border: 1px solid #000;
}

.locations__title {
    font-size: 35px;
    margin-bottom: 75px;
}

.title {
    font-size: 35px;
    margin-bottom: 75px;
}

.locations__cards {
    display: flex;
}

.locations__card {}

.locations__card:not(:last-child) {
    margin-right: 35px;
}


.locations__card img {
    width: 360px;
    height: 270px;
}

.locations__card figcaption {}

.locations__button {
    margin-top: 15px;
    border: 1px solid #000;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 30px;
    transition: .3s ease all;



}

.locations__button:hover {
    background: #000;
    color: #fff;
}

/* locations */

/* reports */
.reports {
    margin: 50px 0 0 0;
}

.reports__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reports__title {
    font-size: 35px;
}

.reports__cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.report__card:not(:last-child) {
    margin-right: 35px;
}

.report__card {}

.report__avatar {}

.report__avatar img {
    border-radius: 50%;
    width: 360px;
    height: 270px;
}

.report__content {
    width: 350px;
    text-align: center;
}

/* reports */
/*sub sale*/
.sale__sub__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;

}

form input {
    border: 1px solid #000;
    margin-right: 15px;
}

/*sub sale*/


/* main */

main {
    position: relative;
}

/* booking */
form {
    font-size: 48px;
    font-weight: 700;
    display: grid;
    margin: 0 auto;
    justify-items: center;
    gap: 10px;
}

.form__grid {
    display: grid;
    padding: 25px;
    background-color: green;
    border-radius: 15px;
    font-size: 24px;
    justify-content: center;
    color: #fff;
    gap: 10px;
}

select {
    border-radius: 15px;
}

#selector,
#date {
    margin-left: 15px;
}

input {
    border-radius: 15px;
}

button {
    border-radius: 15px;
    height: 50px;
    font-size: 20px;
}

.region {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.region select {
    font-size: 24px;
    text-align: right;
}

.date {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.date input {
    font-size: 24px;
    text-align: right;
}

.count__children {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.counter {
    display: grid;
    justify-content: center;
    justify-items: center;
}


/* booking */



/* modal */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* modal */

/*footer*/
.footer {
    position: absolute;
    left: 0;
    bottom: -150px;
    width: 100%;
    background: green;
}

.footer__wrapper {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*footer*/
